<div class="show">

<h1>Items currently on your list:</h1>
	<p>Items: <%= @shop.title%></p>
	<p>Description: <%= @shop.description%></p>
	<p>Quantity: <%= @shop.quantity%></p>

<%= link_to "Back To Shopping List", shops_path, :class => "btn btn-success"%>

</div>