/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min.css
 *= require_self
 *= require_tree .
 */

body{
	background-image:url("http://www.sucai.com.cn/bizhi/Wallpaper/meishi/4847/jzsgscsybz_005.jpg");
	background-size: cover;
}

.indexbutton{
	margin-top: 30px;
	text-align: center;
}

.index{
	text-align: center;
	margin-top: 30px;
	/*font-family: Georgia, Times, "Times New Roman", serif;*/
	font-size: 24px;
}

.show{
	text-align: center;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 24px;
	color:black;
}

.edit{
	text-align: center;	
}

.new{
	text-align: center;
}